@import './variables.scss';

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .restaurant-grid {
        grid-template-columns: 1fr;
    }

    .hamburger-menu {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: var(--secondary);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        list-style: none;
        text-align: center;
        padding: 1rem;
    }

    nav ul.active {
        display: flex;
    }
}